{
  "name": "custom.regex",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "com.byIgorfp",
  "artifactName": "",
  "packageVersion": "1.1",
  "codeVersion": "1.0",
  "author": "IgorFP",
  "vendor":"IgorFP",
  "commands": []
}